# Dependencias
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
*.tsbuildinfo

# Expo / React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Entorno / secretos
.env
.env.*
!.env.example

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Cache
.cache/
coverage/
.claude/
